{% extends "default.njk" %}
{% block slideone %}
        <div class="row fix-9-12 toCenter">
          <img class="round margin-bottom-1 ae-1 fromCenter" src="/assets/uploads/logo-symbol-white-purple.png?p=JpN1a0ML" alt="Avatar" width="70"/>
          <p class="ae-2 large margin-bottom-1"><span class="opacity-8 oswald">Case Study</span></p>
          <h1 class="smaller oswald ae-3 margin-bottom-2">How We Tamed Essential Health & Wellness's Scattered Growth Model</h1>
          <p class="ae-4 large"><span class="opacity-8 raleway">Presented with a compqany full of high ambition, a surplus of talent,  a plethora of ideas, and a driven team, we were challenged to isolate what was keeping their revenue falling short of profitability.</span> </p>
                  <div class="fix-10-12 row toCenter">
<a href="#slide-20-0439f293" class="button btnbox ae-5">Read About It</a>
</div></div>
        <div class="fix-10-12 row ae-8 opacity-8 toCenter">
          <img class="dragon" src="/assets/uploads/dragon.png?p=JpN1a0ML" data-action="zoom" alt="dragon"/>
        </div>
{% endblock %}
{% block slidetwo %}
        <div class="fix-8-12">
          <h1 class="margin-bottom-2 ae-1 oswald">Heart of the matter</h1>
       <p class="italic small light ae-2 raleway">We took a private medical practice with four practicioners and turned them into a nationally franchised brand by evolving their brand, modifying their business model, and laying out the roadmap to achieve their vision.</p>
        <p class="larger light ae-2"><span class="opacity-8">We work well with passionate, creative clients.  Our energy quickly bounced into a frenzy when sharing a room with the Essential Health & Wellness team.
      </span>    </p>    <p class="larger light ae-2"><span class="opacity-8 raleway">
      They seemed to be doing all of the right things and have all the right components in place.  However, when 
</span></p>
          <a class="button btnbox ae-5 fromCenter oswald" href="#slide-32-847d36e1">Check It Out</a>
        </div>
{% endblock %}
{% block slidethree %}
        <div class="fix-12-12">
          <ul class="flex reverse">
            <li class="col-6-12 left cell-32">
              <h1 class="oswald ae-2 smaller margin-bottom-2 ow2qle">Know thy audience and empower thou sales team.</h1>
              <p class="ae-3 larger light margin-bottom-3 raleway"><span class="opacity-8">Our process involves a deep dive into your target market to understand their psychographic data.  Firmographic, demographic, you can get those from anywhere.  But psychographics enable you to truly understand how to sell your audience.</span></p>
              <ul class="items-32">
                <li class="fix-4-12 toLeft ae-4 margin-bottom-3">
                  <h4 class="small margin-bottom-1 oswald">Sales Profiles</h4>
                  <p class="opacity-8 raleway">For Enviro-Master, we did this in the form of sales profiles, as can be seen here.</p>
                </li>
                <li class="fix-4-12 toLeft ae-5 margin-bottom-3">
                   <h4 class="small margin-bottom-1 oswald">Marketing Profiles</h4>
                  <p class="opacity-8 raleway">Another form of our psychographic summarization acts as a litmus test for your marketing efforts.  You can <a href="marketingprofiles.html">learn more about marketing profiles here</a>.</p>
                </li>
              </ul>
				          <a class="button btnbox ae-5 fromCenter oswald" href="#slide-32-68347b8e">Keep Going</a>
            </li>
            <li class="col-6-12 left ae-1 fromRight">
              <img class="ipad-32 margin-bottom-tablet-4" data-action="zoom" width="1080" src="/assets/uploads/enviro-master-sales-profiles-page-11.jpg?p=JpN1a0ML" alt="iPad Image"/>
            </li>
          </ul>
        </div>
{% endblock %}
{% block slidefour %}
        <div class="fix-12-12">
          <ul class="flex reverse">
            <li class="col-6-12 left cell-32">
              <h1 class="ae-2 smaller margin-bottom-2 oswald">Pulling It Together</h1>
              <p class="ae-3 larger light margin-bottom-3"><span class="opacity-8 raleway">Once we understood our client and their target market, we ensure the positioning and competitive differentiation are front-and-center.<br /><br />Originally, the brand had shown discounts and bathroom pictures. All of that heart and passion they showed to us in meeting was lost in the branding and creative sets.  They wanted to convey the personal touch to each of their target verticals.  From all of this, we birthed the "Protect My ______" campaign and ethos, hyper-targeted to each vertical.</span></p>
                        			  				          <a class="button btnbox ae-5 fromCenter oswald" href="#slide-90-d95b0eb4">Keep Going</a>
</li>
            <li class="col-6-12 left ae-1 fromRight">
              <img class="ipad-32 margin-bottom-tablet-4" data-action="zoom" width="1080" src="/assets/uploads/protect-my-little-monsters.jpg?p=JpN1a0ML" alt="iPad Image"/>
            </li>
          </ul>
        </div>
{% endblock %}
{% block slidefive %}
        <div class="fix-8-12 toCenter">
          <h1 class="smaller margin-bottom-2 ae-1 oswald">Bringing It Home</h1>
          <p class="large light ae-2"><span class="opacity-8 raleway">We carried this concept through all verticals that were being targeted (six in total), as can be seen in these sales fliers:</span></p>
        </div>
        <div class="fix-12-12 margin-top-4">
          <ul class="flex fixedSpaces later left">
            <li class="col-3-12 col-tablet-1-2 col-phone-1-1">
              <img data-action="zoom" class="wide" src="/assets/uploads/19-enviro-895-designflyersforpresentation-v5-copy-page-1.jpg?p=JpN1a0ML" alt="Video Thumbnail"/>
              <h4 class="smaller margin-bottom-1 ae-4 oswald">Sit-down Restaurants</h4>
            </li>
            <li class="col-3-12 col-tablet-1-2 col-phone-1-1">
              <img data-action="zoom" class="wide" src="/assets/uploads/19-enviro-895-designflyersforpresentation-v5-copy-page-4.jpg?p=JpN1a0ML" alt="Image Thumbnail"/>
              <h4 class="smaller margin-bottom-1 ae-5 oswald">Day Care Facilities</h4>
            </li>
            <li class="col-3-12 col-tablet-1-2 col-phone-1-1">
            <img  data-action="zoom" class="wide" src="/assets/uploads/19-enviro-895-designflyersforpresentation-v5-copy-page-3.jpg?p=JpN1a0ML"/>
              <h4 class="smaller margin-bottom-1 ae-6 oswald">Quick-serve restaurants</h4>
            </li>
            <li class="col-3-12 col-tablet-1-2 col-phone-1-1">
             <img  data-action="zoom" class="wide" src="/assets/uploads/19-enviro-895-designflyersforpresentation-v5-copy-page-6.jpg?p=JpN1a0ML" alt="Image Thumbnail"/>
              <h4 class="smaller margin-bottom-1 ae-7 oswald">Grocery Stores</h4>
            </li>
          </ul>
        </div>
{% endblock %}
{% block slidesix %}
  <div class="fix-8-12 toCenter">
          <h1 class="smaller margin-bottom-2 ae-1 oswald">A Breath of Fresh Air</h1>
          <p class="large light ae-2"><span class="opacity-8 raleway">These banner ads show how we carried the mesaging through to Enviro-Master's market in a hyper-targeted way:</span></p>
        </div>
        <div class="fix-12-12 margin-top-4">
          <ul class="flex fixedSpaces later left">
            <li class="col-4-12 col-tablet-1-2 col-phone-1-1">
              <div class="rounded button empty margin-bottom-2 noShadow ae-3"><img data-action="zoom"  class="wide" src="/assets/uploads/chicken-recipe.jpg?p=JpN1a0ML" alt="Video Thumbnail"/></div>
              <h4 class="smaller margin-bottom-1 ae-4 oswald">Sit-down Restaurants</h4>
            </li>
            <li class="col-4-12 col-tablet-1-2 col-phone-1-1">
              <a data-action="zoom"  href="#" class="rounded button empty margin-bottom-2 ae-4"><img class="wide" src="/assets/uploads/acr505456519168832091.jpg?p=JpN1a0ML" alt="Image Thumbnail"/></a>
              <h4 class="smaller margin-bottom-1 ae-5 oswald">Grocery Stores</h4>
            </li>
            <li class="col-4-12 col-tablet-1- col-phone-1-1">
              <a data-action="zoom"  href="#" class="rounded button empty margin-bottom-2 ae-5"><img class="wide" src="/assets/uploads/protect-my-little-monsters907534.png"/></a>
              <h4 class="smaller margin-bottom-1 ae-6 oswald">Day care facilities</h4>
            </li>
          </ul>
        </div>
{% endblock %}
{% block slideseven %}
        <div class="fix-8-12">
          <h1 class="small margin-bottom-2 ae-1 oswald">We'd Love To Tame Your Business Monsters</h1>
        </div>
        <div class="fix-12-12">
          <ul class="flex later margin-top-6 left">
            <li class="col-6-12 box-88">
              <div class="quoteBubble ae-4 fromLeft">
                <p class="larger light cropBottom opacity-8 raleway">You guys are amazing. I never expected to be able to get [this] done in time, let alone get it done this well. Thank you so much!</p>
              </div>
              <p class="margin-top-3 ae-6 fromRight raleway"><strong>Annie Rogers</strong> <span class="opacity-7">SVP, Marketing, Enviro-Master</span></p>
            </li>
            <li class="col-6-12">
              <ul class="flex fromBottomRight fixedSpaces margin-top-2">
                <li class="col-6-12 col-phablet-1-2 ae-6">
                  <h4 class="smaller margin-bottom-1 oswald">Business &amp; Growth Strategy</h4>
                  <p class="opacity-8 margin-bottom-3 raleway">The most comprehensive offering out there!</p>
                </li>
                <li class="col-6-12 col-phablet-1-2 ae-7">
                  <h4 class="smaller margin-bottom-1 oswald">Creative</h4>
                  <p class="opacity-8 margin-bottom-3 raleway">The killer copy and visuals you neeed to change the world.</p>
                </li>
                <li class="col-6-12 col-phablet-1-2 ae-8">
                  <h4 class="smaller margin-bottom-1 oswald">Branding</h4>
                  <p class="opacity-8 margin-bottom-3 raleway">Your businesses foundation deserves some love.</p>
                </li>
                <li class="col-6-12 col-phablet-1-2 ae-9">
                  <h4 class="smaller margin-bottom-1 oswald">Digital Orchestration</h4>
                  <p class="opacity-8 margin-bottom-3 raleway">Marketing and Sales  stacks, websites, etc. need to fall in line.</p>
                </li>
          <a class="button btnbox ae-5 fromCenter oswald" href="#slide-55-9c2fa5d3">Schedule A Call</a>
              </ul>
            </li>
          </ul>
        </div>
{% endblock %}
{% block slideeight %}
        <h1 class="smaller margin-bottom-2 ae-1 owwald">Schedule a call</h1>
<div class="calendly-inline-widget" data-url="https://calendly.com/oakwaveco/consultation-casestudy?hide_event_type_details=1&hide_gdpr_banner=1&background_color=121212&text_color=ffffff&primary_color=6c5ba7" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>  
{% endblock %}
