<!-- Navigation -->
<nav class="side ">
  <div class="navigation default">
    <ul></ul>
  </div>
</nav><!-- Panel Top #06 -->
<nav class="panel top">
  <div class="sections desktop">
    <div class="left"><a href="https://www.oakwave.com" title="OAKwave"><img src="/assets/uploads/logo-lined-white-and-purpleat3x.png?p=JpN1a0ML" /></a></div>
    <div class="center">
      <ul class="menu">
        <li><a href="https://www.oakwave.com">Main Site</a></li>
        <li><a href="https://www.oakwave.com/blog">Blog</a></li>
        <li><a href="https://www.oakwave.com/schedule">Schedule a Call</a></li>
      </ul>
    </div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><img src="/assets/uploads/logo-lined-white-and-purpleat3x.png?p=JpN1a0ML"></span></div>
  </div>
  <div class="hidden sections compact">
    <div class="left"><a href="#" title="Slides Framework"><img class="logo" src="/assets/uploads/logo-lined-white-and-purpleat3x.png?p=JpN1a0ML"></a></div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
  </div>
</nav>

<!-- Sidebar -->
<nav class="sidebar" data-sidebar-id="1">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <div class="sidebar-logo"><a href="#" class=""><img src="/assets/uploads/logo-symbol-white-purple.png?p=JpN1a0ML"class="logo"></a></div>
    <ul class="mainMenu margin-top-3">
             <li><a href="https://www.oakwave.com">Main Site</a></li>
        <li><a href="https://www.oakwave.com/blog">Blog</a></li>
       <!-- <li><a href="https://www.oakwave.com/testimonials">More Case Studies</a></li>-->
        <li><a href="https://www.oakwave.com/schedule">Schedule a Call</a></li>  
        <li> Case Studies
<ul class="subMenu small opacity-8">
      <li><a href="/case-studies/ems/index.html">Commercial Cleaning Franchise</a></li>
     <!-- <li><a href="IT Service &amp; Consulting Firm">IT Service &amp; Consulting Firm</a></li>-->
      <li><a href="/case-studies/ehw/index.html">Medical Plan Provider </a></li>

    </ul>
    <ul class="social opacity-8">
      <li><a href="https://www.facebookc.com/oakwaveco"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
      <li><a href="https://www.twitter.com/oakwaveco"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
      <li><a href="https://www.linkedin.com/in/real-strategy"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a></li>
    </ul>
  </div>
</nav>